.user-container{
	width: 100%;
	// height: 100vh;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.step{
		margin: 20rpx;
		width: 100%;
		height: 50rpx;
		line-height: 50rpx;
		display: flex;
		justify-content:space-between;
		border-top: solid 2px #333;
		text{
			position: relative;
			padding:0 20rpx;
		}
		text::before{
			position: absolute;
			left: 50%;
			top: -4px;
			border-radius: 50%;
			content: "";
			width: 6px;
			height: 6px;
			background-color: #333;
		}
		.check{
			color:$uni-color-primary;
		}
		.check::before{
			background-color: $uni-color-primary;
		}
	}
	&-main{
		padding:20rpx;
		width: 100%;
		margin-top: 100rpx;
		text-align: center;
	}
	.logo {
		margin-bottom: 100rpx;
		height: 200rpx;
		width: 200rpx;
		border-radius: 50%;
		// margin-top: 200rpx;
	}
	&-item{
		position: relative;
		display: flex;
		height: 100rpx;
		align-items: center;
		
		text{
			font-weight: bold;
			min-width: 130rpx;
		}
		input{
			text-align: left;
			margin-left: 20rpx;
			background-color: #efefef;
			border-radius: 20rpx;
		}
		.iconfont{
			position: absolute;
			right: 20rpx;
			font-size: 36rpx;
			color: $uni-color-primary;
		}
		button{
			margin: auto 10rpx;
		}
		.sendDisable{
			background-color:$uni-bg-color-grey;
			color:#999;
		}
	}
	button{
		margin-top: 20rpx;
		border-radius: 50rpx;
	}
	.delete{
		border: solid 1px #ddd;
	}
	&-style{
		margin-top: 20rpx;
		width: 100%;
		text-align: center;
		.styles{
			display: flex;
			justify-content: center;
			margin-top: 20rpx;
			.style-item{
				margin: 20rpx;
				// width: 100rpx;
				// height: 130rpx;
				.iconfont{
					display: block;
					margin-bottom: 10rpx;
					padding: 20rpx;
					font-size: 50rpx;
					background-color: #f8f8f8;
					border-radius: 50%;
					border: solid 1px $uni-color-primary;
					color: $uni-color-primary;
				}
				view{
					width: 100%;
					text-align: center;
					line-height: 50rpx;
				}
			}
		}
	}
}
